@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/lato_regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/lato_italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/lato_bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/lato_bold-italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/lato_light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/lato_light-italic.ttf') format('truetype');
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/lato_hairline.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/assets/fonts/lato_hairline-italic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'LatoBlack';
	src: url('/assets/fonts/lato_black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoBlack';
	src: url('/assets/fonts/lato_black-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Liberator';
	src: url('/assets/fonts/liberator-medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Liberator';
	src: url('/assets/fonts/liberator-light.otf') format('opentype');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'Liberator';
	src: url('/assets/fonts/liberator-heavy.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Outage';
	src: url('/assets/fonts/outage.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OutageCut';
	src: url('/assets/fonts/outage_cut.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}