.top-panel {
    height: 200px;

    &--picture {
        background-size: cover;
        background-position: center;
        margin: -16px -16px 0;
        overflow: hidden;

    }
    &--route {
        background-image: url("/assets/images/jpg/rally-route.jpg");
    }
    &--home {
        background-image: url("/assets/images/jpg/home-top.jpg");
    }
    &--home, &--route {
        @media only screen and (min-width: $media-xl) {
            height: 600px;
        }
        @media only screen and (min-width: $media-lg) {
            height: 500px;
        }
        @media only screen and (min-width: $media-md) {
            height: 400px;
        }
        @media only screen and (min-width: $media-sm) {
            height: 400px;
        }
    }
    &--charity {
        @media only screen and (min-width: $media-xl) {
            height: 700px;
        }
        @media only screen and (min-width: $media-lg) {
            height: 600px;
        }
        @media only screen and (min-width: $media-md) {
            height: 500px;
        }
        @media only screen and (min-width: $media-sm) {
            height: 500px;
        }
    }
}

img {
    max-width: 100%;
}

.figure {
    @media only screen and (min-width: $media-md) {
        max-width: 50%;
        &--align-right {
            float: right;
            img, figcaption {
                float: right;
            }
        }
        &--align-left {
            margin-left: 0;
            float: left;
            img, figcaption {
                float: left;
            }
        }
        &--small {
            max-width: 20%;
        }
    }
}
.button-wrapper {
    &--center {
        margin: 0 auto;
    }
    &--large {
        width: 40%;
        a {
            width: 100%;
        }
        @media only screen and (max-width: $media-sm) {
            width: 100%;
        }
    }
}