.top-panel {
    height: 200px;

    &--picture {
        background-size: cover;
        background-position: center;
        margin: -16px -16px 0;
        overflow: hidden;

    }
    &--route {
        background-image: url("/assets/images/jpg/rally-route.jpg");
    }
    &--home {
        background-image: url("/assets/images/jpg/home-top.jpg");
        display: block;
        position: relative;
        img.logo {
            width: 33%;
            max-width: 500px;
            margin: 50px auto;
            display: block;
            opacity: 0.9;
        }
        ul {
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            @media only screen and (min-width: $media-xl) {
                font-size: 40px;
            }
            @media only screen and (min-width: $media-lg) {
                font-size: 36px;
            }
            @media only screen and (min-width: $media-md) {
                font-size: 32px;
            }
            @media only screen and (min-width: $media-sm) {
                font-size: 24px;
            }
        }

    }
    &--home, &--route {
        @media only screen and (min-width: $media-xl) {
            height: 600px;
        }
        @media only screen and (min-width: $media-lg) {
            height: 500px;
        }
        @media only screen and (min-width: $media-md) {
            height: 400px;
        }
        @media only screen and (min-width: $media-sm) {
            height: 400px;
        }
    }
    &--charity {
        @media only screen and (min-width: $media-xl) {
            height: 700px;
        }
        @media only screen and (min-width: $media-lg) {
            height: 600px;
        }
        @media only screen and (min-width: $media-md) {
            height: 500px;
        }
        @media only screen and (min-width: $media-sm) {
            height: 500px;
        }
    }
    &--team {
        background-image: url("/assets/images/jpg/team.jpg");
        background-position: top;
        @media only screen and (min-width: $media-xl) {
                height: 900px;
            }
            @media only screen and (min-width: $media-lg) {
                height: 800px;
            }
            @media only screen and (min-width: $media-md) {
                height: 700px;
            }
            @media only screen and (min-width: $media-sm) {
                height: 700px;
            }
    }
}

img {
    max-width: 100%;
}

.image-container {
    padding: 20px;
    &--center {
        display: flex;
        align-items: center;
    }
}

.figure {
    @media only screen and (min-width: $media-md) {
        max-width: 50%;
        &--align-right {
            float: right;
            img, figcaption {
                float: right;
            }
        }
        &--align-left {
            margin-left: 0;
            float: left;
            img, figcaption {
                float: left;
            }
        }
    }
    &--small {
        max-width: 20%;
        &.figure--align-right {
            float: right;
            margin-right: 0;
            img, figcaption {
                float: right;
            }
        }
        &.figure--align-left {
            margin-left: 0;
            float: left;
            img, figcaption {
                float: left;
            }
        }
    }
}
.button-wrapper {
    &--center {
        margin: 0 auto;
        text-align: center;
    }
    &--large {
        width: 40%;
        a {
            width: 100%;
        }
        @media only screen and (max-width: $media-sm) {
            width: 100%;
        }
    }
}