.top-panel {
    height: 300px;

    &--picture {
        background-size: cover;
        background-position: center;
        margin: -16px -16px 0;
        overflow: hidden;

    }
    &--route {
        background-image: url("/assets/images/png/route.png");
    }
    &--home {
        background-image: url("/assets/images/jpg/home-top.jpg");
        display: block;
        position: relative;
        img.logo {
            width: 33%;
            max-width: 500px;
            margin: 50px auto;
            display: block;
            opacity: 0.9;
        }


    }
    &--home {
        @media only screen and (max-width: $media-xl) {
            height: 550px;
        }
        @media only screen and (max-width: $media-lg) {
            height: 450px;
        }
        @media only screen and (max-width: $media-md) {
            height: 400px;
        }
        @media only screen and (max-width: $media-sm) {
            height: 400px;
        }
    }
    &--route {
        @media only screen and (max-width: $media-xl) {
            height: 500px;
        }
        @media only screen and (max-width: $media-lg) {
            height: 400px;
        }
        @media only screen and (max-width: $media-md) {
            height: 300px;
        }
        @media only screen and (max-width: $media-sm) {
            height: 300px;
        }
    }
    &--charity {
        @media only screen and (max-width: $media-xl) {
            height: 700px;
        }
        @media only screen and (max-width: $media-lg) {
            height: 600px;
        }
        @media only screen and (max-width: $media-md) {
            height: 500px;
        }
        @media only screen and (max-width: $media-sm) {
            height: 500px;
        }
    }
    &--team {
        background-image: url("/assets/images/jpg/team.jpg");
        background-position: top;
        @media only screen and (max-width: $media-xl) {
                height: 900px;
            }
            @media only screen and (max-width: $media-lg) {
                height: 800px;
            }
            @media only screen and (max-width: $media-md) {
                height: 700px;
            }
            @media only screen and (max-width: $media-sm) {
                height: 700px;
            }
    }
}

img {
    max-width: 100%;
}

.image-container {
    padding: 20px;
    &--center {
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
}

.figure {
    @media only screen and (min-width: $media-md) {
        max-width: 50%;
        &--align-right {
            float: right;
            img, figcaption {
                float: right;
            }
        }
        &--align-left {
            margin-left: 0;
            float: left;
            img, figcaption {
                float: left;
            }
        }
    }
    &--small {
        max-width: 20%;
        &.figure--align-right {
            float: right;
            margin-right: 0;
            img, figcaption {
                float: right;
            }
        }
        &.figure--align-left {
            margin-left: 0;
            float: left;
            img, figcaption {
                float: left;
            }
        }
    }
}
.button-wrapper {
    &--center {
        margin: 0 auto;
        text-align: center;
    }
    &--large {
        width: 40%;
        a {
            width: 100%;
        }
        @media only screen and (max-width: $media-sm) {
            width: 100%;
        }
    }
}

.sponsorship-package {
    .flex {
        position: relative;
    }

    p {
        margin-top: 0;
    }
    h1, h3 {
        margin-bottom: 0;
    }
    &--column {
        padding-right: 80px;
    }
    .bottom {
        position: absolute;
        bottom: 0;
    }
    &__pic {
        &--inline {
            height: 100px
        }
    }
}

.mobile-header-overlay {
    position: absolute;
    top: 0;
    z-index: 1;
    text-align: center;
    height: 300px;
    width: 100%;
    margin: -16px -16px 0;
    padding-top: 40px;
    background: -webkit-linear-gradient(top, rgba(55, 71, 79,0), rgba(55, 71, 79,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(55, 71, 79,0), rgba(55, 71, 79,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(55, 71, 79,0), rgba(55, 71, 79,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(55, 71, 79,0), rgba(55, 71, 79,1)); /* Standard syntax (must be last) */
    img {
        max-height: 70%;
    }
    @media only screen and (max-width: $media-xl) {
        height: 550px;
    }
    @media only screen and (max-width: $media-lg) {
        height: 450px;
    }
    @media only screen and (max-width: $media-md) {
        height: 400px;
    }
    @media only screen and (max-width: $media-sm) {
        height: 400px;
    }
}