// md-sidenav.md-locked-open {
//   width: 250px;
//   min-width: 250px;
//   max-width: 250px;
// }

.md-sidenav-left {
    //background-image: url("/assets/images/jpg/sidenav_bg.jpg");
    //background-size: cover;
    //background-repeat: no-repeat;
    background: getThemeColor('theme-grey-dark');

    img.emblem {
        width: 70%;
        margin-left: 15%;
    }

    span.logo {
        background-image: url("/assets/images/png/emblem.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        width: 80%;
        margin: 10%;
        height:170px;
    }

    md-list {
        md-list-item.active {
            background: getThemeColor('theme-primary');
        }
        md-list-item.expanded {
            .md-button {
                background-color: rgba(158,158,158,0.2);
            }
        }
        md-item-content, md-icon {
            color: getThemeColor('theme-white');
        }
        .icon-wrapper {
            margin-right: 10px;
        }
        .expand {
            margin-right: 0;
        }

        &.outer {
            padding-bottom: 75px;
        }
        &.inner {
        padding-top: 0;
            md-list-item {
                button {
                    padding-left: 35px;
                }
            }
        }
        md-list-item {
            min-height: 40px;
            button {
                min-height: 40px;
                .md-list-item-inner {
                    min-height: 40px;
                }
            }
        }
        .inset {
            padding: 0 10px;
            &.right {
                width: 100%;
                text-align: right;
            }
        }
    }

    .social-list {
        position: absolute;
        bottom: 15px;
        width: 80%;
        margin-left: 10%;
        height: 35px;
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
        .social-item {
            width: 20px;
            height: 20px;
            vertical-align: top;
            display: inline-block;
            *display: inline;
            zoom: 1;
            a {
                display: block;
                height: 100%;
                background-size: cover;
                cursor: pointer;
                &.insta {
                    background-image: url('/assets/images/png/instagram.png');
                }
                &.facebook {
                    background-image: url('/assets/images/png/facebook.png');
                }
                &.twitter {
                    background-image: url('/assets/images/png/twitter.png');
                }
                &.youtube {
                    background-image: url('/assets/images/png/youtube.png');
                }
                &:hover {
                    opacity: 0.4;
                }
            }
        }
        .stretcher {
            width: 100%;
            display: inline-block;
            font-size: 0;
            line-height: 0;
        }
    }
    @media only screen and (max-width: 1280px) {
        .left-nav-wrapper {
            min-height: 100%;
            position: absolute;
            width: 100%;
            .social-list {
                position: inherit;
            }
        }
    }
}