.md-sidenav-left {
    background-image: url("/assets/images/jpg/sidenav_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    span.logo {
        background-image: url("/assets/images/png/logo.png");
        background-repeat: no-repeat;
        display: block;
        width: 80%;
        margin: 10%;
        height:250px;
    }

    md-list {
        md-list-item.active {
            background: getThemeColor('theme-primary');
        }
        md-item-content, md-icon {
            color: getThemeColor('theme-white');
        }
        .icon-wrapper {
            margin-right: 10px;
        }
        padding-bottom: 75px;
    }

    .social-list {
        position: absolute;
        bottom: 0;
        width: 80%;
        margin-left: 10%;
        height: 35px;
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
        .social-item {
            width: 20px;
            height: 20px;
            vertical-align: top;
            display: inline-block;
            *display: inline;
            zoom: 1;
            a {
                display: block;
                height: 100%;
                background-size: cover;
                cursor: pointer;
                &.insta {
                    background-image: url('/assets/images/png/instagram.png');
                }
                &.facebook {
                    background-image: url('/assets/images/png/facebook.png');
                }
                &.twitter {
                    background-image: url('/assets/images/png/twitter.png');
                }
                &.youtube {
                    background-image: url('/assets/images/png/youtube.png');
                }
            }
        }
        .stretcher {
            width: 100%;
            display: inline-block;
            font-size: 0;
            line-height: 0;
        }
    }
    @media only screen and (max-width: 1280px) {
        .left-nav-wrapper {
            min-height: 100%;
            position: absolute;
            width: 100%;
            .social-list {
                position: inherit;
            }
        }
    }
}