@import "color";
@import "vars";
@import "fonts";

html {
    height: 100%;
}

body {
    height: 100%;
}

.site-wrapper {
    min-height: 100%;
    >section {
        height: 100%;
    }
}

p {
    font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Liberator;
}

.sub {
    font-family: OutageCut;
    margin-bottom: 0;
}

.transparent {
    background-color: transparent !important;
}

a {
    text-decoration: none;
}

@import "nav";
@import "layout";
@import "toolbar";
@import "forms";

