@import "color";

html {
    height: 100%;
}

body {
    height: 100%;
}

.site-wrapper {
    min-height: 100%;
    >section {
        height: 100%;
    }
}

.transparent {
    background-color: transparent !important;
}

a {
    text-decoration: none;
}

@import "nav";

