@import "colors";
@import "vars";
@import "fonts";

html {
    height: 100%;
    color: getThemeColor('theme-text');
}

body {
    height: 100%;
    font-family: Lato, Roboto, "Helvetica Neue", sans-serif;
}

button, select, html, textarea, input {
    font-family: Lato, Roboto, "Helvetica Neue", sans-serif;
}

.md-button {
    font-weight: bold;
}

.site-wrapper {
    min-height: 100%;
}

p {
    font-family: Lato;
    a {
        text-decoration: none;
        color: getThemeColor('theme-primary');
        &:hover {
            color: getThemeColor('theme-dark');
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Liberator, Roboto, "Helvetica Neue", sans-serif;
}

.sub {
    font-family: OutageCut, Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 0;
}

.center {
    text-align: center;
}

.transparent {
    background-color: transparent !important;
}

a {
    text-decoration: none;
}

ul {
    &.list-style-none {
        list-style: none;
    }
}

.site-content {
    max-width: 1280px;
    &.margin {
        margin-bottom: 80px;
    }
}

@import "nav";
@import "layout";
@import "toolbar";
@import "forms";

