<section layout="column" class="site-content">
    <h4>Bikes</h4>
    <p>Rory and Jeremy will each be riding a 1993 Yamaha TT250R for the trip. These tough wee 250cc
        four-strokes are unfussy enduros ideal for a bit of muddy fun out on the greenlanes and byways.
        Obviously though, this 19bhp single-cylinder thumper was never intended to make the 10,000 mile journey from
        London to Mongolia that they now face some 23 years after they first rolled out of the factory.
    </p>
    <p>
        Rory and Jeremy are currently on the hunt for any mods and accessories that may improve their chances on the trip.
        They're also hoping to acquire enough gear and camping equipment to keep stave off the elements. If you are interested in
        sponsoring the team or helping out in any other way, please <a ng-href="/contact">click here</a> to get in touch!
    </p>
</section>