<section layout="column" class="site-content">
    <h1>The Bikes</h1>
    <div>
        <p>Rory and Jeremy will be taking these two 1993 Yamaha TT250Rs as their steeds for the road ahead. At a
            blistering max speed of 60-ish mph, there’ll be less majestic cantering and more coughing, spluttering and
            stalling from this old pair of Japanese warriors. With the aim of getting more gizmos and gadgets than a
            pimp my ride gone wrong, the guys are currently acquiring any mods and accessories they can muster to help
            improve the chances of this dirt bike duo. To top it off, Rory’s promised a wheelie in each country, so
            the tough little thumpers have circus acrobatics added to their list of duties too...thanks Rory.
        </p>
    </div>
</section>
<section layout="row" class="site-content">
    <div flex>
        <img src="/assets/images/jpg/rory-ttr.jpg">
    </div>
    <div flex>
        <img src="/assets/images/jpg/jeremy-ttr.jpg">
    </div>
</section>