<section layout="column" class="site-content">
    <h1>Car</h1>
    <div>
        <figure class="figure figure--half-width figure--align-right">
            <img src="/assets/images/jpg/yaris1.jpg">
        </figure>
        <p>Forget Land Rovers, BMWs and Jeeps, the mighty Toyota Yaris is the car you want for a 10,000 mile overland
            journey. The unbridled power of its 1L engine will be hurtling Katyln, Reuben and Pete from Goodwood to
            Ulan Ude with ease...or perhaps not. The trio are (desperately) scrabbling around for ways to make their
            beloved little Yaris slightly more suitable for the bumps and scrapes of what’s to come. This scrappy
            little chappie will be punching well above its weight along the dusty desert tracks and high mountain
            passes, but fear not, Pete’s mum has a Yaris and he’s driven it round Oxfordshire, so we reckon the gang’s
            golden.</p>
    </div>
</section>