<section layout="column">
    <h4>Car</h4>
    <p>The legendary Toyota Yaris is the vehicle of choice for the rally. It’s mighty 998cc is certainly
        unequipped for the autobahns of Germany and high mountain passes of the Pamir’s but we’ve grown
        attached to this 15 year old 3 door run around.</p>
    <p>Katlyn, Reuben & Pete are currently looking for ways to make the Yaris slightly more suitable
        which will include a sump guard, a fabricated top box and chunkier tyres. Even sat in a car with your
        best mates for 8 weeks is enough to drive anyone to insanity so a decent set of speakers is essential</p>
</section>