<section layout="column">
    <h4>Charity</h4>
    <p>We're hoping to raise £2500 for Rowcroft Hospice which is where Jeremy's mum spent her final few weeks, providing
        exceptional care for her and support to the family. Rowcroft is committed to helping every patient make the
        most of every moment by providing comfort, support and specialist care to over 2,200 patients and their loved
        ones across South Devon each year. The hospice’s services are provided without charge, but they are not without
        cost. Rowcroft does receive NHS funding, amounting to 23% of expenditure, leaving the hospice needing to raise
        £19,000 each day, 365 days a year, to provide its vital services.
    </p>
    <div>
        <figure class="figure figure--align-left">
            <img src="/assets/images/jpg/rowcroft.jpeg">
        </figure>
        <p>The rally is a challenge which we've been planning for months and are confident we'll make it to Mongolia.
            It'll be our toughest challenge to date along roads and tracks that aren't suitable for the best equipped
            vehicles, let alone a few ancient dirtbikes.
        </p>
    </div>
    <div>
        <figure class="figure figure--half-width figure--align-right figure--small">
            <img src="/assets/images/jpg/rowcroft-logo.jpg">
        </figure>
        <p>100% of your donation will go to the charity as we are self-funding the journey to Mongolia so please
            dig deep and help the very worthy cause.</p>

    </div>
    <div class="button-wrapper button-wrapper--center button-wrapper--large">
        <md-button ng-href="{{virginGivingUrl}}" class="md-raised md-accent">Please Donate</md-button>
    </div>
</section>