<section layout="column" class="site-content">
    <h1>Charity</h1>
    <p>We are using the rally to help us raise money for 5 different charities: Cool Earth, Mind, Dementia UK,
        British Heart Foundation and Rowcroft Hospice. We’ve chosen these charities because we believe the work
        they do is incredible. We aim to raise £2,000 per charity and hope to run multiple fundraisers over the
        coming months – 100% of these fundraisers will go directly to the charities.</p>


    <!--<div class="row">-->
        <!--<span class="flex"><img src="/assets/images/png/coolearth.png"></span>-->
        <!--<span class="flex"><img src="/assets/images/jpg/mind.jpg"></span>-->
        <!--<span class="flex"><img src="/assets/images/jpg/dementia-uk.jpg"></span>-->
        <!--<span class="flex"><img src="/assets/images/png/bhf.png"></span>-->
        <!--<span class="flex"><img src="/assets/images/jpg/rowcroft-logo.jpg"></span>-->
    <!--</div>-->

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/png/coolearth.png">
        </div>
        <div flex>
            <h5 class="sub">Cool Earth</h5>
            <p>Cool Earth is a UK-based international NGO that protects endangered rainforests in order to combat
                global warming, protect ecosystems and to provide employment for local people. It works alongside
                indigenous villages to halt rainforest destruction. All Cool Earth partnerships are community owned and led.</p>
        </div>
    </div>
    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/mind.jpg">
        </div>
        <div flex>
            <h5 class="sub">Mind</h5>
            <p>Mind offers information and advice to people with mental health problems, and lobbies government and local
                authorities on their behalf. It also works to raise public awareness and understanding of issues relating to
                mental health.</p>
        </div>
    </div>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/dementia-uk.jpg">
        </div>
        <div flex>
            <h5 class="sub">Dementia UK</h5>
            <p>Dementia UK provides support and guidance to those suffering from dementia – it helps them to live more
                positively and face the challenges it brings. Reuben's connection to this charity is particularly personal
                as Dementia UK have directly helped his grandparents who suffer from this disease.</p>
        </div>
    </div>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/png/bhf.png">
        </div>
        <div flex>
            <h5 class="sub">British Heart Foundation</h5>
            <p>The British Heart Foundation funds research, education, care and awareness campaigns aimed to
                prevent heart diseases in humans. Coronary heart disease is the UK’s biggest killer and Pete’s
                granddad was sadly lost to a heart attack.</p>
        </div>
    </div>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/rowcroft-logo.jpg">
        </div>
        <div flex>
            <h5 class="sub">Rowcroft Hospice</h5>
            <p>Rowcroft Hospice is a wonderful Devon charity that provides care for 2,200 people each year. Jeremy's
                mum spent her final few weeks with Rowcroft - they're a fantastic organisation that make a massive
                difference to so many.</p>
        </div>
    </div>
</section>






    <!--<p>We're hoping to raise £2500 for Rowcroft Hospice which is where Jeremy's mum spent her final few weeks, providing-->
        <!--exceptional care for her and support to the family. Rowcroft is committed to helping every patient make the-->
        <!--most of every moment by providing comfort, support and specialist care to over 2,200 patients and their loved-->
        <!--ones across South Devon each year. The hospice’s services are provided without charge, but they are not without-->
        <!--cost. Rowcroft does receive NHS funding, amounting to 23% of expenditure, leaving the hospice needing to raise-->
        <!--£19,000 each day, 365 days a year, to provide its vital services.-->
    <!--</p>-->
    <!--<div>-->
        <!--<figure class="figure figure&#45;&#45;align-left">-->
            <!--<img src="/assets/images/jpg/rowcroft.jpeg">-->
        <!--</figure>-->
        <!--<p>The rally is a challenge which we've been planning for months and are confident we'll make it to Mongolia.-->
            <!--It'll be our toughest challenge to date along roads and tracks that aren't suitable for the best equipped-->
            <!--vehicles, let alone a few ancient dirtbikes.-->
        <!--</p>-->
    <!--</div>-->
    <!--<div>-->
        <!--<figure class="figure figure&#45;&#45;half-width figure&#45;&#45;align-right figure&#45;&#45;small">-->
            <!--<img src="/assets/images/jpg/rowcroft-logo.jpg">-->
        <!--</figure>-->
        <!--<p>100% of your donation will go to the charity as we are self-funding the journey to Mongolia so please-->
            <!--dig deep and help the very worthy cause.</p>-->

    <!--</div>-->
    <!--<div class="button-wrapper button-wrapper&#45;&#45;center button-wrapper&#45;&#45;large">-->
        <!--<md-button ng-href="{{virginGivingUrl}}" class="md-raised md-accent">Please Donate</md-button>-->
    <!--</div>-->
<!--</section>-->