<section layout="column">

    <md-content layout-padding>
        <h4>Contact Us</h4>
        <p>If you're interested in sponsoring us, or if you have any other pieces of advice,
            comments or would like more information, you can reach us using the form below.</p>
        <form name="contactForm">
            <md-input-container class="md-block">
                <label>First name</label>
                <md-icon>person</md-icon>
                <input required  name="firstname" ng-model="project.firstname">
                <div ng-messages="contactForm.firstname.$error">
                    <div ng-message="required">Please let us know who you are</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Last name</label>
                <md-icon>person</md-icon>
                <input required  name="lastname" ng-model="project.lastname">
                <div ng-messages="contactForm.lastname.$error">
                    <div ng-message="required">Please let us know who you are</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Company (optional)</label>
                <md-icon>person</md-icon>
                <input name="company" ng-model="project.company">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email</label>
                <md-icon>email</md-icon>
                <input required  name="email" ng-model="project.email" ng-pattern="/^.+\@.+\..+/">
                <div ng-messages="contactForm.email.$error">
                    <div ng-message="required">Please tell us your email address so we can get back to you</div>
                    <div ng-message="pattern">Please enter a valid email address</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Telephone (optional)</label>
                <md-icon>phone</md-icon>
                <input  name="phone" ng-model="project.phone" ng-pattern="/^[0-9,x,+]*$/">
                <div ng-messages="contactForm.phone.$error">
                    <div ng-message="pattern">Please enter a valid telephone number</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block md-icon-left">
                <label>Message</label>
                <md-icon>message</md-icon>
                <textarea required name="message" ng-model="project.msg"></textarea>
                <div ng-messages="contactForm.message.$error">
                    <div ng-message="required">Please let us know what you're interested in talking to us about</div>
                </div>
            </md-input-container>
        </form>
    </md-content>
</section>