<div class="mobile-header-overlay">
    <img alt="eastern ramblers logo" src="/assets/images/png/eastern_ramblers.png">
    <ul class="list-style-none">
        <li class="sub">18 countries</li>
        <li class="sub">5 mountain ranges</li>
        <li class="sub">3 deserts</li>
        <li class="sub">2 bikes</li>
        <li class="sub">1 car</li>
    </ul>
</div>

<div layout="row" class="top-panel top-panel--picture top-panel--home">
    <!--<img class="logo" src="/assets/images/png/logo_grey.png">-->
    <!--<ul class="list-style-none">-->
        <!--<li class="sub">18 countries</li>-->
        <!--<li class="sub">5 mountain ranges</li>-->
        <!--<li class="sub">3 deserts</li>-->
        <!--<li class="sub">2 bikes</li>-->
        <!--<li class="sub">1 car</li>-->
    <!--</ul>-->
</div>
<section layout="column" class="site-content margin">
    <h1>Home</h1>

    <h3 class="sub">Bangarang! Chocks away and heave-ho at the ready…we’re off.</h3>


    <p>On the 17th July 2016, us 5 blockheaded explorers will be galavanting off on the world’s most ill advised
        adventure – the Mongol Rally. This legendary quest sees a select group of teams journey the 10,000 miles
        from the green grass of Goodwood to the mystical plains of Mongolia. Travelling along with nothing but a
        couple of <a href="/bikes">juddery dirt bikes</a> and a <a href="car">dinkey Toyota Yaris</a>, we'll be thundering across 18 countries,
        5 mountain ranges and 3 deserts. With no backup, no support, and a mere smattering of wits between us,
        this will be a blistering trip into the unknown.</p>

    <p>This is no holiday. This is no lark. This is the Mongol Rally, and it’s bloody hard work. But we're not
        throwing ourselves to the wind for nothing, we’re doing it for that which matters most - the charities we love. They are Cool Earth, Rowcroft Hospice, Dementia UK, Mind, and British Heart Foundation. We hope to help these glorious institutions spread their wonderful work, so please check out our <a href="/charity">causes</a> section and spend your money on something special.</p>

    <p>We’ll be offering you a taste of life on the road through all the internet’s usual suspects - Facebook, Twitter, Instagram, and our very own personal blog. So, keen to follow us on our Eastern ramble? Then rub the grit from your palms and spit the dust from your mouth, this is going to be one hell of a trip!</p>

    <a href="route"><img src="/assets/images/png/route.png"></a>

</section>
<section layout="column" class="site-content margin">
    <h3 class="sub">Meet the team</h3>

    <div>
        <figure class="figure figure--half-width figure--align-right">
            <img src="/assets/images/jpg/team.jpg">
        </figure>
        <p>We are the Eastern Ramblers.</p>

        <p>We’re a convoy of 2 dirtbikes, 1 car, and 5 hapless wanderers. Comprised of a man whose skill with the artistic
            palette is undisputed, a lady whose laboratory experiments are world-renowned, a technocratic wizard,
            a designer of the earth’s most closely-guarded secrets, and a physicist turned software ninja who’ll guide
            our quest by the light of the stars.</p>
        <br/><br/>
        <div class="button-wrapper">
            <md-button aria-label="team" ng-href="/team"  class="md-raised md-primary">get to know us <md-icon>arrow_forward</md-icon></md-button>
        </div>
    </div>
</section>
<section layout="column" class="site-content margin">
    <h3 class="sub">Saving the planet</h3>
    <p>When we accepted this audacious challenge, we wanted it to be for something big, something really big. That’s why we’re using the rally to help raise money for the 5 charities that have had a huge impact on our lives, they are: Cool Earth, Mind, Dementia UK, British Heart Foundation and Rowcroft Hospice. We’ve chosen these charities because we believe the work they do is incredible. We aim to raise £2,000 for each and hope to run multiple fundraisers over the coming months – 100% of these fundraisers will go directly to the charities. </p>
    <br/><br/>
    <div class="button-wrapper">
        <md-button aria-label="team" ng-href="/charity"  class="md-raised md-primary">learn more <md-icon>arrow_forward</md-icon></md-button>
    </div>
</section>

<section layout="column" class="site-content margin">
    <h3 class="sub">Sponsors</h3>
    <p>Sadly, we’re a tad lacking on the financial front, so in order to complete this rally and raise shed loads of
        cash for charity, we need external support. We would greatly appreciate any help you could offer - the
        sponsorship money would be directly contributing to the below costs:</p>
    <br/><br/>
    <div class="button-wrapper">
        <md-button aria-label="team" ng-href="/sponsors"  class="md-raised md-primary">learn more <md-icon>arrow_forward</md-icon></md-button>
    </div>
</section>

<!-- todo: sponsors footer -->