<md-toolbar class="transparent square">
    <span class="logo square"></span>
</md-toolbar>
<md-content class="transparent" layout-padding ng-controller="LeftCtrl">
    <md-list role="list">
        <md-item role="listitem">
            <a href="/">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="inset">
                        <p class="md-subhead">home</p>
                    </div>
                    <div class="md-ripple-container"></div>
                </md-item-content>
            </a>
        </md-item>
        <md-item role="listitem">
            <a href="/">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons">people</i>
                    </div>
                    <div class="inset">
                        <p class="md-subhead">team</p>
                    </div>
                    <div class="md-ripple-container"></div>
                </md-item-content>
            </a>
        </md-item>
        <md-item role="listitem">
            <a href="/">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="inset">
                        <p class="md-subhead">route</p>
                    </div>
                    <div class="md-ripple-container"></div>
                </md-item-content>
            </a>
        </md-item>
        <md-item role="listitem">
            <a href="/">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="inset">
                        <p class="md-subhead">charity</p>
                    </div>
                    <div class="md-ripple-container"></div>
                </md-item-content>
            </a>
        </md-item>
        <md-item role="listitem">
            <a href="/">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="inset">
                        <p class="md-subhead">blog</p>
                    </div>
                    <div class="md-ripple-container"></div>
                </md-item-content>
            </a>
        </md-item>
        <md-item role="listitem">
            <a href="/">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="inset">
                        <p class="md-subhead">for a few tugriks more</p>
                    </div>
                    <div class="md-ripple-container"></div>
                </md-item-content>
            </a>
        </md-item>
    </md-list>
</md-content>
