<!--<div>-->
<div class="left-nav-wrapper">
    <md-toolbar class="transparent square">
        <span class="logo square"></span>
    </md-toolbar>

    <md-list class="outer" ng-controller="LeftCtrl">
        <md-list-item md-ink-ripple class="md-clickable" ng-class="{active: currentPath == '/'}" ng-click="redirect('/')">
            <a>
                <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon>home</md-icon>
                    </div>
                    <div class="inset">
                        <span class="md-subhead">home</span>
                    </div>
                </md-item-content>
            </a>
        </md-list-item>

        <md-list-item md-ink-ripple class="md-clickable" ng-class="{expanded: showAboutSubList}" ng-click="showAboutSubList = !showAboutSubList">
            <a>
                <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon>info</md-icon>
                    </div>
                    <div class="inset">
                        <span class="md-subhead">about</span>
                    </div>
                </md-item-content>
            </a>
            <!--<div class="inset right">-->
                <md-icon class="expand" ng-hide="showAboutSubList">keyboard_arrow_down</md-icon>
                <md-icon class="expand" ng-show="showAboutSubList">keyboard_arrow_up</md-icon>
            <!--</div>-->
        </md-list-item>
        <md-list class="inner" ng-show="showAboutSubList">
            <md-list-item md-ink-ripple class="md-clickable" ng-class="{active: currentPath == '/team'}" ng-click="redirect('/team')">
                <a>
                    <md-item-content layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon>group</md-icon>
                        </div>
                        <div class="inset">
                            <span class="md-subhead">team</span>
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item md-ink-ripple class="md-clickable" ng-class="{active: currentPath == '/route'}" ng-click="redirect('/route')">
                <a>
                    <md-item-content layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon>map</md-icon>
                        </div>
                        <div class="inset">
                            <span class="md-subhead">route</span>
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item md-ink-ripple class="md-clickable" ng-class="{active: currentPath == '/bikes'}" ng-click="redirect('/bikes')">
                <a>
                    <md-item-content layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon>motorcycle</md-icon>
                        </div>
                        <div class="inset">
                            <span class="md-subhead">bikes</span>
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item md-ink-ripple class="md-clickable" ng-class="{active: currentPath == '/car'}" ng-click="redirect('/car')">
                <a href="/car">
                    <md-item-content layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon>directions_car</md-icon>
                        </div>
                        <div class="inset">
                            <span class="md-subhead">car</span>
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
        </md-list>
        <md-list-item md-ink-ripple class="md-clickable" ng-class="{active: currentPath == '/charity'}" ng-click="redirect('/charity')">
            <a>
                <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon>favorite</md-icon>
                    </div>
                    <div class="inset">
                        <span class="md-subhead">charity</span>
                    </div>
                </md-item-content>
            </a>
        </md-list-item>
        <md-list-item md-ink-ripple class="md-clickable" ng-class="{active: currentPath == '/sponsors' || currentPath == '/sponsorship-packages'}" ng-click="redirect('/sponsors')">
            <a>
                <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon>group</md-icon>
                    </div>
                    <div class="inset">
                        <span class="md-subhead">sponsors</span>
                    </div>
                </md-item-content>
            </a>
        </md-list-item>
        <md-list-item md-ink-ripple class="md-clickable" ng-class="{active: currentPath == '/contact'}" ng-click="redirect('/contact')">
            <a>
                <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon>message</md-icon>
                    </div>
                    <div class="inset">
                        <span class="md-subhead">contact</span>
                    </div>
                </md-item-content>
            </a>
        </md-list-item>
    </md-list>



    <div class="social-list">
        <div class="social-item"><a target="_blank" title="instagram" class="insta" href="https://www.instagram.com/easternramblers/"></a></div>
        <div class="social-item"><a target="_blank" title="facebook" class="facebook" href="https://www.facebook.com/easternramblers2016"></a></div>
        <div class="social-item"><a target="_blank" title="twitter" class="twitter" href="https://twitter.com/mongol_ramblers"></a></div>
        <div class="social-item"><a target="_blank" title="youtube" class="youtube" href="https://www.youtube.com/channel/UCyMFPTpfJZfC3ISa0sLLmmw"></a></div>
        <span class="stretcher"></span>
    </div>
</div>
<!--</div>-->