<section layout="row" class="top-panel top-panel--picture top-panel--route">
</section>
<section layout="column" class="site-content">
    <h4>Route</h4>
    <p>The mongol rally has no set route - just a start point and an end point. The Fistful of Tugriks team have plotted a rough course from the start line just outside
    London, England to the finish line some 10,000 miles later in Ulan-Ude, Russia. The two riders will thunder across the mountains, deserts
    and steppe of Europe and Asia, passing through nearly 20 countries.
    </p>

    <div>
        <figure class="figure figure--align-right">
            <img src="/assets/images/jpg/pamir-highway.jpg">
            <figcaption class="image-caption">The Pamir Highway traverses the Pamir Mountains through Afghanistan, Uzbekistan, Tajikistan and Kyrgyzstan.</figcaption>
        </figure>
        <p>
        The route through Europe takes the boys to the Romanian city of Constanta, before the riders turn south
        along the Black sea coast through Bulgaria and into Turkey. The Alborz mountains in Iran and the Karakum
        desert in Turkmenistan will need to be tackled before our intrepid adventurers have even made it to the half
        way point.
        <br/><br/>
        Once the team have reached Dushanbe in Tajikistan, they will join the historic Pamir highway - the only continuous
        route through the challenging terrain of the Pamir mountains. This road has been in use for millennia and once
        formed part of the ancient Silk Road trading route. This will be one of the most difficult legs
        of the journey as much of the road is now heavily eroded or badly damaged by earthquakes, landslides and avalanches.
        <br/><br/>
        From there, a mere 3,000 miles of desert and mountains through Kazakhstan, Mongolia and Russia stand in the way of the finish
        line in Ulan-Ude near lake Baikal in Southern Siberia. The team estimate the full 10,000 mile route should take around five to six weeks depending on how many <i>hiccups</i> the two 1993 yamaha dirt bikes
        experience along the way.
        </p>
    </div>
</section>