<section layout="column" class="site-content margin">
    <h1 class="theme-text">Sponsors</h1>
    <p>The Eastern Ramblers wouldn't be able to attempt this rally and raise shed loads of
    cash for charity without the help and generosity of sponsors. Take a peek at them below:</p>







    <p>If you are interested in becoming an official team sponsor, please <a>get in touch</a>. Your sponsorship would
        be directly contributing to the below costs</p>
    <ul> <!-- class="list-style-none"-->
        <li class="sub">Car/bike maintenance and tools - gbp 3,500</li>
        <li class="sub">Fuel and camping/survival equipment - gbp 3,500</li>
        <li class="sub">Visas, Insurance, admin - gbp 2,500</li>
    </ul>

    <div class="button-wrapper">
        <md-button aria-label="sponsorship packages" ng-href="/assets/files/eastern-ramblers.pdf" target="_blank"  class="md-raised md-primary">find out more<md-icon>arrow_forward</md-icon></md-button>
    </div>
</section>


