<section layout="column" class="site-content margin">
    <h1>Sponsorship Packages</h1>
    <p>Interested? Wonderful stuff! Have a looksee below at the sponsorship packages we offer or download the
        <a href="/assets/files/eastern-ramblers.pdf" target="_blank">PDF</a>. Of course if you had something else in mind, then
        <a href="/contact">give us a shout</a>, and we’ll be happy to work something out!</p>
</section>
<section layout="column" layout-gt-sm="row" class="site-content margin sponsorship-package">
    <div flex>
        <div class="sponsorship-package sponsorship-package--column">
            <h1>The Good<img class="sponsorship-package sponsorship-package__pic sponsorship-package__pic--inline" src="/assets/images/png/the-good.png" alt="cub 90"></h1>
            <p>The most affordable and accessible - step up onto the podium and take your place amongst the few</p>
            <h3 class="sub">Car</h3>
            <p>A4 logo or advert printed on to our car in full colour</p>
            <h3 class="sub">Web</h3>
            <p>An icon of your choosing on our Sponsors page</p>
            <h3 class="sub">Film</h3>
            <p>A special mention in the credits of our final film</p>
            <br/><br/>
        </div>
        <h3 class="sub bottom theme-text">gbp 250</h3>
    </div>
    <div flex>
        <div class="sponsorship-package sponsorship-package--column">
            <h1>The Great<img class="sponsorship-package sponsorship-package__pic sponsorship-package__pic--inline" src="/assets/images/png/fiat.png" alt="fiat 500"></h1>
            <p>The perfected package, just for you. This is where it gets interesting, cue the bright lights.</p>
            <h3 class="sub">Car</h3>
            <p>2x A4 logo or advert printed on to our car in full colour</p>
            <h3 class="sub">Web</h3>
            <p>An icon on our Sponsors page<br/>A Blurb in the Sponsors section about you<br/>A photo accompanying your
                blurb</p>
            <h3 class="sub">Film</h3>
            <p>A special mention in the credits of our final film</p>
            <br/><br/>
        </div>

        <h3 class="sub bottom theme-text">gbp 500</h3>
    </div>
</section>
<section class="site-content margin">
    <div class="sponsorship-package" layout="column" layout-gt-sm="row">
        <div flex>
            <h1>The Mighty</h1>
            <p>The winner’s circle - leap up into the limelight, it’s the bask of celebrity you bathe in.</p>
            <h3 class="sub">Car</h3>
            <p>2x A4 logo or advert printed on to our car in full colour<br/>1x A5 logo or advert printed on to our car
                in full colour</p>
            <h3 class="sub">Bikes</h3>
            <p>1x sticker per bike (on tank and helmets)</p>
            <h3 class="sub">Web</h3>
            <p>Big big icon on our Sponsors page<br/>A Blurb in the Sponsors section about you<br/>A photo accompanying your
                blurb<br/>A review/report in a blog post about your company or business<br/>Photos on our social media of your
                company or products
            </p>
            <h3 class="sub">Film</h3>
            <p>A spoken mention in the final film</p>
        </div>
        <div flex>
            <span class="helper helper--bottom"></span></span><img src="/assets/images/png/car.png" alt="fiat 500">
        </div>
    </div>
    <br/><br/>
    <h3 class="sub bottom theme-text">gbp 1,000</h3>
</section>
<section class="site-content margin">
    <div class="sponsorship-package" layout="column" layout-gt-sm="row">
        <div flex>
            <h1>The Legendary</h1>
            <p>One for the history books and the ballads of the future - we will hurl the glory of your company
                across Europe, and into the far flung reaches of Eastern Asia.</p>
            <h3 class="sub">Car</h3>
            <p>Branded flags will be flown from our windows with your logo
                <br/>2x A3 prints in prominent locations on the car (Bonnet, boot, roof)
                <br/>1x A4 print in a prominent location on the car (Bonnet, boot, roof)
                <br/>A logo/photo on the car’s interior so it'll appear in videos that we shoot on the road</p>
            <h3 class="sub">Bikes</h3>
            <p>3x stickers per bike (on tank and helmets)</p>
            <h3 class="sub">Web</h3>
            <p>A large image on our Sponsors page along with a paragraph description
                <br/>A Blurb in the Sponsors section about you with accompanying photo
                <br/>A review/report in a blog post about your company or business
                <br/>Photos on our social media of your company or products
            </p>

        </div>
        <div flex>
            <h3 class="sub">Film</h3>
            <p>Piece to camera – Less dramatic monologue, more sales pitch – we’ll be saying lovely stuff about
                your products and brand
                <br/>Prominent mention in the credits
            </p>
            <h3 class="sub">People</h3>
            <p>We’ll kit ourselves out in your branded goods</p>
            <img src="/assets/images/png/legendary.png" alt="legendary">
        </div>
    </div>
    <br/><br/>
    <h3 class="sub bottom theme-text">gbp 2,500</h3>
</section>