<!--<section layout="row" class="top-panel top-panel&#45;&#45;picture top-panel&#45;&#45;team">-->
<!--</section>-->

<section layout="column" class="site-content">
    <h1 class="theme-text">Team</h1>
    <h3 class="sub">Meet the lads and lady!</h3>

    <md-content layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline sub">Jeremy</span>
                        <p>A wildling reared in the feral depths of Dartmoor, Jeremy will be giving his alfresco
                            lifestyle a boost up to full scale primitivism on the dusty track to Mongolia. A man
                            whose adventurous childhood has been credited for inspiring Disney’s latest Mowgli,
                            he’ll be bringing the steely grit of Clint Eastwood and the charming practicality of Bear
                            Grylls to our roaming ramble. Either found cycling up and down the UK, or motorbiking his
                            way round on some rudimentary two wheeler, he's not one for walking - his feet never touch
                            the ground. As our resident first-aider, mechanic and official mountain man (yes, really),
                            Jeremy will be acting as the team’s metaphorical bubble-wrap.</p>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img src="/assets/images/jpg/jeremy-mugshot.jpg">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline sub">Katlyn</span>
                        <p>A lady truly worthy of the title Rambler, Katyln’s been a London native for the past 6
                            years, but has spent most of that time drifting round the world, rolling from one adventure
                            to the next. Although she has the unenviable position of being the only girl in the gang,
                            she’ll be whipping the chaps into an orderly procession across the globe, whilst sprinkling
                            a certain hipster style onto our rag-tag group. Bringing her East end street smarts to the
                            downtown alleys of Istanbul and beyond, Katlyn’s the brains of the band who’ll be leading
                            the Mongolian charge from the front of the pack.</p>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img src="/assets/images/png/katlyn-mugshot.png">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline sub">Pete</span>
                        <p>Product Manager by day (we don’t know what that is either), sleepy dreamer by night, Pete will be
                            bringing misguided optimism and a startlingly pensive stare to the team. Guilty of brandishing amateur
                            works of poetry at the unsuspecting throngs of London’s pubs, and fond of lurking in the backdrop of
                            the occasional feature film, this wannabe artiste will spend most of his time gazing wistfully into the
                            panoramic vistas of the East. Bringing no mechanical know-how or any practical skills of note, he’s
                            banking on plain sailing from here to Mongolia. (Pete dislikes talking about himself in the third
                            person, but has been known to make exceptions).</p>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img src="/assets/images/jpg/pedro-mugshot.jpg">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline sub">Reuben</span>
                        <p>With more names than a bigamous royal, Reuben’s sprawling identity will promise plenty of delayed
                            border crossings and countless raised eyebrows in the countries to come. Despite his provision of
                            bureaucratic turmoil, Reuben will be keeping the team chirpy and chipper with his indestructible
                            cheeriness. Known for his famously unusual (and slightly suspicious) over-indulgence in hats, this
                            rambunctious fellow will be making sure we're all well rested on the road through his adamant
                            insistence to sleep in any and all places. Although well meaning in his organisation, he’s been
                            guilty of a slightly fumbling attitude towards valuables in the past, so we’ve quietly cut key copies
                            for the Yaris...just in case.</p>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img src="/assets/images/jpg/reuben-mugshot.jpg">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline sub">Rory</span>
                        <p>Software developer and aspiring mechanic, Rory will be bolstering spirits along the trail with his
                            unending arsenal of woeful dad-jokes. A man chiselled from the lowlands of Scotland, you can often spy
                            him traipsing through London’s winter in nothing more than a pair of flip flops. Despite his criminal
                            footwear and dismissal of all coat-wearers as ‘jessies’, Rory's outdoorsy aspirations haven't yet got
                            him further than Regent’s park. Once a professional Muay Thai boxer, he’ll be keeping us safe from
                            highwaymen and gypsies, along with satisfying the hunger of the troop with his plentiful supply of
                            Twixes.</p>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img src="/assets/images/jpg/rory-mugshot.jpg">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
        </div>
    </md-content>

    <h3 class="sub">And of course, the wondrous trio of mechanical marvels:</h3>

    <md-content layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <img ng-src="/assets/images/jpg/bikes.jpg" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline sub">Bikes</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Rory and Jeremy will be taking these two 1993 Yamaha TT250Rs as their steeds for the road ahead. At a
                        blistering max speed of 60-ish mph, there’ll be less majestic cantering and more coughing, spluttering and
                        stalling from this old pair of Japanese warriors. With the aim of getting more gizmos and gadgets than a
                        pimp my ride gone wrong, the guys are currently acquiring any mods and accessories they can muster to help
                        improve the chances of this dirt bike duo. To top it off, Rory’s promised a wheelie in each country, so
                        the tough little thumpers have circus acrobatics added to their list of duties too...thanks Rory.
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <img ng-src="/assets/images/jpg/yaris1.jpg" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline sub">Car</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Forget Land Rovers, BMWs and Jeeps, the mighty Toyota Yaris is the car you want for a 10,000 mile overland
                        journey. The unbridled power of its 1L engine will be hurtling Katyln, Reuben and Pete from Goodwood to
                        Ulan Ude with ease...or perhaps not. The trio are (desperately) scrabbling around for ways to make their
                        beloved little Yaris slightly more suitable for the bumps and scrapes of what’s to come. This scrappy
                        little chappie will be punching well above its weight along the dusty desert tracks and high mountain
                        passes, but fear not, Pete’s mum has a Yaris and he’s driven it round Oxfordshire, so we reckon the gang’s
                        golden.
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
        </div>
    </md-content>




</section>
<!--<section>-->
    <!--<h3 class="sub">And of course, the wondrous trio of mechanical marvels</h3>-->
<!--</section>-->
