<!--<section layout="row" class="top-panel top-panel&#45;&#45;picture top-panel&#45;&#45;team">-->
<!--</section>-->

<section layout="column" class="site-content">
    <h1>Team</h1>
    <h3 class="sub">Meet the lads and lady!</h3>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/jeremy-mugshot.jpg">
        </div>
        <div flex>
            <h5 class="sub">Jeremy</h5>
            <p>A wildling reared in the feral depths of Dartmoor, Jeremy will be giving his alfresco lifestyle a boost up
                to full scale primitivism on the dusty track to Mongolia. A man whose adventurous childhood has been
                credited for inspiring Disney’s latest Mowgli, he’ll be bringing the steely grit of Clint Eastwood and
                the charming practicality of Bear Grylls to our roaming ramble. Either found cycling up and down the
                UK, or motorbiking his way round on some rudimentary two wheeler, he's not one for walking - his feet
                never touch the ground. As our resident first-aider, mechanic and official mountain man (yes, really),
                Jeremy will be acting as the team’s metaphorical bubble-wrap.</p>
        </div>
    </div>
    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/png/katlyn-mugshot.png">
        </div>
        <div flex>
            <h5 class="sub">Katlyn</h5>
            <p>A lady truly worthy of the title Rambler, Katyln’s been a London native for the past 6 years, but has
                spent most of that time drifting round the world, rolling from one adventure to the next. Although she
                has the unenviable position of being the only girl in the gang, she’ll be whipping the chaps into an
                orderly procession across the globe, whilst sprinkling a certain hipster style onto our rag-tag group.
                Bringing her East end street smarts to the downtown alleys of Istanbul and beyond, Katlyn’s the brains
                of the band who’ll be leading the Mongolian charge from the front of the pack.</p>
        </div>
    </div>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/pedro-mugshot.jpg">
        </div>
        <div flex>
            <h5 class="sub">Pete</h5>
            <p>Product Manager by day (we don’t know what that is either), sleepy dreamer by night, Pete will be
                bringing misguided optimism and a startlingly pensive stare to the team. Guilty of brandishing amateur
                works of poetry at the unsuspecting throngs of London’s pubs, and fond of lurking in the backdrop of
                the occasional feature film, this wannabe artiste will spend most of his time gazing wistfully into the
                panoramic vistas of the East. Bringing no mechanical know-how or any practical skills of note, he’s
                banking on plain sailing from here to Mongolia. (Pete dislikes talking about himself in the third
                person, but has been known to make exceptions).</p>
        </div>
    </div>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/reuben-mugshot.jpg">
        </div>
        <div flex>
            <h5 class="sub">Reuben</h5>
            <p>With more names than a bigamous royal, Reuben’s sprawling identity will promise plenty of delayed border
                crossings and countless raised eyebrows in the countries to come. Despite his provision of bureaucratic
                turmoil, Reuben nce we're all well rested on the road through his adamant insistence to sleep in any
                and all places. Although well meaning in his organisation, he’s been guilty of a slightly fumbling
                attitude towards valuables in the past, so we’ve quietly cut key copies for the Yaris...just in case.</p>
        </div>
    </div>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/rory-mugshot.jpg">
        </div>
        <div flex>
            <h5 class="sub">Rory</h5>
            <p>Software developer and aspiring mechanic, Rory will be bolstering spirits along the trail with his
                unending arsenal of woeful dad-jokes. A man chiselled from the lowlands of Scotland, you can often spy
                him traipsing through London’s winter in nothing more than a pair of flip flops. Despite his criminal
                footwear and dismissal of all coat-wearers as ‘jessies’, Rory's outdoorsy aspirations haven't yet got
                him further than Regent’s park. Once a professional Muay Thai boxer, he’ll be keeping us safe from
                highwaymen and gypsies, along with satisfying the hunger of the troop with his plentiful supply of
                Twixes.</p>
        </div>
    </div>
</section>
<!--<section>-->
    <!--<h3 class="sub">And of course, the wondrous trio of mechanical marvels</h3>-->
<!--</section>-->
