<!--<section layout="row" class="top-panel top-panel&#45;&#45;picture top-panel&#45;&#45;team">-->
<!--</section>-->

<section layout="column" class="site-content">
    <h1>Team</h1>
    <h3 class="sub">Meet the lads and lady!</h3>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/jeremy-mugshot.jpg">
        </div>
        <div flex>
            <h5 class="sub">Jeremy</h5>
            <p>After a borderline feral upbringing in the depths of Dartmoor, surviving predominantly on a diet of mud
                and 10W40, Jeremy brings an element of the wild to our ranks. Living on the fringes of our
                technologically advanced society, this Devon wild-man is only truly at peace riding anything
                two-wheeled aimlessly around the most sparsely populated corners of the country. Indeed, Jeremy's two
                favourite human inventions are the bicycle and the internal combustion engine and is especially fond of
                the two in combination.</p>
        </div>
    </div>
    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/png/katlyn-mugshot.png">
        </div>
        <div flex>
            <h5 class="sub">Katlyn</h5>
            <p>Hi! I&#39;m Katlyn and I&#39;m 24 years old. I have been living in London for almost 6 years but since I
                turned 18 I have been travelling all across the world. I joined my friends on the Mongol Rally as it
                gave me the opportunity to visit some super interesting and exotic countries I wouldn&#39;t visit
                otherwise, all whilst learning some mechanics and how to survive in a Yaris for 2 months! I am very
                excited about the opportunity to throw myself into this adventure and push myself and the Yaris to the
                limit!</p>
        </div>
    </div>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/dementia-uk.jpg">
        </div>
        <div flex>
            <h5 class="sub">Pete</h5>
            <p>Product Manager by day (we don’t know what that is either), sleepy dreamer by night, Pete will be
                bringing misguided optimism and a startlingly pensive stare to the team. Guilty of brandishing amateur
                works of poetry at the unsuspecting throngs of London’s pubs, and fond of lurking in the backdrop of
                the occasional feature film, this wannabe artiste will spend most of his time gazing wistfully into the
                panoramic vistas of the East. Bringing no mechanical know-how or any practical skills of note, he’s
                banking on plain sailing from here to Mongolia. (Pete dislikes talking about himself in the third
                person, but has been known to make exceptions).</p>
        </div>
    </div>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/reuben-mugshot.jpg">
        </div>
        <div flex>
            <h5 class="sub">Reuben</h5>
            <p>Reuben Thomas Daniel Lawrence Kettle Aiers has a name which is about as long as the Mongol Rally. Reuben
                brings several unique attributes to the team including an array of stylish headwear, and a strong
                tendency to misplace important items. We are delighted to have this fun-loving Londoner come Bristolian
                along for the ride as he has an incredible ability to keep everyone smiling no matter how tough the
                situation gets.</p>
        </div>
    </div>

    <div layout="row">
        <div flex="20" class="image-container image-container--center">
            <img src="/assets/images/jpg/rory-mugshot.jpg">
        </div>
        <div flex>
            <h5 class="sub">Rory</h5>
            <p>Rory likes computers, motorbikes and sciencey stuff, and will be undoubtedly be contributing bad jokes
                and relentless cynicism to the team. </p>
            <ul>
                <li>Software developer, amatuer (I mean very amatuer) mechanic, dad-joke king</li>
                <li>Hails from the dreich lowlands of western scotland, now rumbling around the relative tropics of
                    England’s south-east on various old, beat up motorbikes</li>
                <li>Not a particularly good navigator despite my astronomy experience</li>
                <li>Not nearly as outdoors-y as I like to make out. Woefully underprepared for a 6 week overlanding
                    trip to siberia</li>
            </ul>
        </div>
    </div>
</section>
<!--<section>-->
    <!--<h3 class="sub">And of course, the wondrous trio of mechanical marvels</h3>-->
<!--</section>-->
