<!--<div class="fixed-fab-container fixed-fab-container&#45;&#45;top fixed-fab-container&#45;&#45;right" hide-gt-md>-->
    <!--<md-button class="md-fab md-accent" aria-label="Menu" ng-click="toggleLeft()">-->
        <!--<md-icon md-svg-icon="/assets/images/svg/ic_menu_18px.svg"></md-icon>-->
<!--</md-button>-->
<!--</div>-->

<div layout="row" hide-gt-md>
    <md-button aria-label="Menu" class="md-accent md-fab md-fab-top-right" ng-click="toggleLeft()">
        <md-icon md-svg-icon="/assets/images/svg/ic_menu_18px.svg"></md-icon>
    </md-button>
</div>